@mixin cta {
  @include flexible;
  @include animate;
  background: linear-gradient(-45deg, #ee7752, #e73c7e);
  font-family: $font-medium;
  letter-spacing: .05em;
  font-size: 1.25em;
  cursor: pointer;
  padding: 1em 2em;
  border-radius: 0.6em;

  span {
    &:first-of-type {
      margin-right: 0.6em;
    }
  } // End span

  svg {
    @include animate;
    height: 1.85rem;
    width: 1.85rem;

    &, use {
      fill: $foreground;
    }
  } // End svg

  &:hover {
    color: $callout;

    svg {
      transform: translateX(0.3em);

      &, use {
        fill: $callout;
      }
    }
  } //  End &:hover
}

.arrow-cta {
  @include cta;
}
