@mixin cta {
  @include flexible;
  @include animate;
  font-family: $font-medium;
  letter-spacing: .05em;
  padding: 0.65em 0;
  font-size: 1.25em;
  cursor: pointer;

  span {
    &:first-of-type {
      margin-right: 0.6em;
    }
  } // End span

  svg {
    @include animate;
    height: 1.85rem;
    width: 1.85rem;

    &, use {
      fill: $foreground;
    }
  } // End svg

  &:hover {
    color: $callout;

    svg {
      transform: translateX(0.3em);

      &, use {
        fill: $callout;
      }
    }
  } //  End &:hover
}

.arrow-cta {
  @include cta;
}
