.email-bar {
  @include flexible($direction: column);
  position: fixed;
  bottom: 0;
  height: 100vh;
  right: 0;
  left: auto;
  z-index: 10;
  width: 2.5em;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    justify-content: flex-end;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    display: none;
  } // End Phone & Below

  a {
    @include animate;
    writing-mode: vertical-rl;
    padding: 0.625em;
    font-family: $font;
    color: $foreground;
    letter-spacing: 0.075em;
    font-size: 1em;

    &:hover {
      color: $callout;
    }
  }

  &:before {
    content: "";
    display: block;
    width: 0.063em;
    height: 20%;
    background-color: $foreground;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      display: none;
    } // End Tablet & Below
  }

  &:after {
    content: "";
    display: block;
    width: 0.063em;
    height: 20%;
    background-color: $foreground;
  }
}
