.menu-button {
  display: block;
  padding: 2em;
  cursor: pointer;
  position: relative;
  z-index: 2;

  span {
    display: block;
    background-color: $foreground;
    height: 0.13rem;
    border-radius: 5em;
    position: relative;
    // transform: translateX(-0.7em);

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $foreground;
      height: 0.13rem;
      width: 2rem;
      border-radius: 5em;
      transition: all 0.2s ease-out;
    }

    &:before {
      top: -0.6em;
    }

    &:after {
      top: 0.6em;
    }
  }
}

.menu-open {
  span {
    display: block;
    background-color: transparent;
    position: relative;
    transition: all 0.2s;


    &:before {
      top: 0;
      transform: rotate(45deg);
      transition: all 0.22s;
      background-color: $foreground;
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
      background-color: $foreground;
      transition: all 0.2s;
    }
  }
}
