.menu-button {
  @include flexible($justify: flex-start);
  // display: inline-block;
  padding: 1.5em;
  cursor: pointer;
  // position: relative;
  box-sizing: content-box;
  text-align: left;
  background: none;
  z-index: 2;
  height: 0.8rem;
  width: 2rem;
  transform: translateX(2rem);

  .lines {
    display: inline-block;
    background-color: $foreground;
    border-radius: 5em;
    position: relative;

    &:before,
    &:after {
      @include animate;
      content: "";
      position: absolute;
      background-color: $foreground;
      height: 0.13rem;
      width: 2rem;
      border-radius: 5em;
    }

    &:before {
      top: -6px;
      left: 0;
    }

    &:after {
      top: 6px;
      left: 0;
    }
  }
}

.menu-open {
  .lines {
    &:before,
    &:after {
      top: 0;
      left: 0;
    }

    &:before {
      // top: 0;
      transform: rotate(45deg);
    }

    &:after {
      // top: 0;
      transform: rotate(-45deg);
    }
  }
}
