// ::-webkit-scrollbar {
//     display: none;
// }

@keyframes fade-in {
  0% {
    opacity: 0;
    // transform: scale(0);
  }
  100% {
    opacity: 1;
    // transform: scale(100%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(100%);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

// Stop body scroll when menu is open
body.no-scroll {
  position: fixed;

}

nav {
  @include animate;
  animation: fade-out 0.75s infinite;
  display: none;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background-color: $background;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $foreground;


}// End nav

// Nav open
.open {
  animation: fade-in 0.45s;
  // @include flexible($direction: column);
  display: block;
  // @include animate;
  z-index: 1;
}

.nav-container {
  padding: 6em 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  @include animate;
  display: block;
  color: $foreground;
  font-size: 3em;
  font-family: $font-medium;
  margin: 0 0.25em $half-space 0;

  &:hover {
    color: $callout;
    transform: translateY(-0.15rem);
  }
} // End .nav-link
nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

nav::-webkit-scrollbar {
  background: rgb(63,94,251);
  background: linear-gradient(204deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.mobile-socials-bar {
  display: flex;
  transform: translateX(-0.6em);

  &-link {
    padding: 0.625em;
    transition: $transition;

    svg {
      @include animate;
      height: 1.25em;
      width: 1.25em;

      &, use {
        fill: $foreground;
      }
    }

    &:hover {
      svg {
        transform: translateY(-0.188em);
        &, use {
          fill: $callout;
        }
      }
    }
  } // End &-link
} // End .mobile-socials-bar
