.socials-bar {
  @include flexible($direction: column);
  height: 100vh;
  width: 2.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  z-index: 10;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    justify-content: flex-end;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    display: none;
  } // End Phone & Below

  &-link {
    padding: 0.625em;
    transition: $transition;

    svg {
      @include animate;
      height: 1.25em;
      width: 1.25em;

      &, use {
        fill: $foreground;
      }
    }

    &:hover {
      svg {
        transform: translateX(0.188em);
        &, use {
          fill: $callout;
        }
      }
    }
  }

  &:before {
    content: "";
    display: block;
    width: 0.063em;
    height: 20%;
    background-color: rgba($foreground, 0.5);

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      display: none;
    } // End Tablet & Below
  }

  &:after {
    content: "";
    display: block;
    width: 0.063em;
    height: 20%;
    background-color: rgba($foreground, 0.5);
  }
}
