// The League of Moveable Type
@font-face {
    font-family: 'fanwooditalic';
    src: url('assets/fonts/fanwood_italic-webfont-webfont.woff2') format('woff2'),
         url('assets/fonts/fanwood_italic-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fanwoodregular';
    src: url('assets/fonts/fanwood-webfont-webfont.woff2') format('woff2'),
         url('assets/fonts/fanwood-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-Black';
    src: url('assets/fonts/LeagueSpartan-Black.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('assets/fonts/LeagueSpartan-Bold.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-ExtraBold';
    src: url('assets/fonts/LeagueSpartan-ExtraBold.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-ExtraLight';
    src: url('assets/fonts/LeagueSpartan-ExtraLight.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-Light';
    src: url('assets/fonts/LeagueSpartan-Light.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-Medium';
    src: url('assets/fonts/LeagueSpartan-Medium.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-Regular';
    src: url('assets/fonts/LeagueSpartan-Regular.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-SemiBold';
    src: url('assets/fonts/LeagueSpartan-ExtraLight.woff2') format('woff2'),
         url('assets/fonts/LeagueSpartan-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
