// Curtain
@mixin curtain($position: fixed, $color: $foreground) {
  background-color: $color;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: $position;
  top: 0;
  width: 100%;
  z-index: 3;
}

.curtain {
  @include curtain;
}

// Wrap
@mixin wrap($width: $wrap, $max-width: auto) {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: $width;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    width: $wrap-mobile;
  } // End Phone & Below
}

.wrap {
  @include wrap($wrap, 64em);
}


.cta {
  display: inline-block;
  color: $foreground;
  font-style: italic;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    display: none;
  } // End Phone & Below
} // End .cta
