// Wrap
@mixin wrap($width: $wrap, $max-width: auto) {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: $width;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    width: $wrap-mobile;
  } // End Phone & Below
}

.wrap {
  @include wrap($wrap, 64em);
}

.cta {
  display: inline-block;
  color: $foreground;
} // End .cta
