.about {
  display: flex;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    background-color: $foreground;
  } // End Tablet & Below

  &-card {
    display: flex;
    background-color: $foreground;
    box-shadow: 0.6em 0.4em 1.4em 0.7em rgba($background, 0.2);

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      padding: 0;
      box-shadow: none;
    } // End Tablet & Below
  } // End &-card

  .content {
    width: 60%;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      width: 100%;
      padding: 0;
    } // End Tablet & Below

    p:last-of-type {
      margin-bottom: $space;
    }
  } // End &-content

  &-bio,
  &-list {
    padding: 1.85em;
  }

  &-bio {
    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      padding: 0;
    } // End Tablet & Below
  } // End &-bio

  &-list {
    background-color: $background;

    h6 {
      font-family: $title;
      font-size: 1.1em;
      text-transform: lowercase;
      color: $foreground;
    }
  } // End &-list

  &-potrait {
    width: 40%;
    background-image: url("assets/images/potrait.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      width: 100%;
      height: 62vh;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      height: 47vh;
    } // End Phone & Below

     &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 115%;
    }
  } // End &-potrait
} // End About
