@mixin about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.photo-caption {
  @include h5;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75em;
}

.about {
  background-color: $foreground;
  @include wrap($wrap, 90em);

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    width: 100%;
  } // End Phone & Below

  &-head,
  &-content {
    @include about-grid;
  }

  &-head {
    align-items: center;
    margin-bottom: $space;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      display: block;
    } // End Phone & Below

    h3{
      z-index: 2;
    }
  }

  &-headings {
    grid-column: 1/3;
    grid-row: 1/2;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      // padding: 3em;
      grid-column: 1/-1;
    } // End Phone & Below

    h2 {
      @include h1;
      color: $background;
      z-index: 2;
      position: relative;
      font-size: 4em;
    }
  }

  &-potrait {
    grid-column: 2/-1;
    grid-row: 1/2;
    background-image: url("assets/images/potrait-color.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      grid-column: 1/-1;
    } // End Phone & Below

     &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 115%;
    }
  } // End &-potrait

  &-content {
    grid-gap: 4em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      display: block;
    } // End Phone & Below

    p:first-of-type {
      font-size: 2.4em;
      line-height: 110%;
    }
  } // End &-content
}


// .about {
//   // Primary Mobile - Tablet & Below
//   @media screen and (max-width: $tablet) {
//     background-color: $foreground;
//   } // End Tablet & Below
//
//   h6 {
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       color: $background;
//     } // End Tablet & Below
//   }
//
//   &-card {
//     display: flex;
//     background-color: $foreground;
//     box-shadow: 0.6em 0.4em 1.4em 0.7em rgba($background, 0.2);
//
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       flex-direction: column;
//       padding: 0;
//       box-shadow: none;
//       width: 100%;
//     } // End Tablet & Below
//   } // End &-card
//
//   .content {
//     width: 60%;
//
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       width: 100%;
//       padding: 0;
//     } // End Tablet & Below
//   } // End &-content
//
//   &-bio,
//   &-list {
//     padding: 1.85em;
//   }
//
//   &-bio {
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       padding: 0;
//     } // End Tablet & Below
//   } // End &-bio
//
//   &-list {
//     background-color: rgba($background, 0.76);
//
//     h6 {
//       font-family: $title;
//       font-size: 1.25em;
//       text-transform: lowercase;
//       color: $foreground;
//     }
//   } // End &-list
//
//   &-potrait {
//     width: 40%;
//     background-image: url("assets/images/potrait-color.png");
//     background-position: 50%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: relative;
//     z-index: 1;
//
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       width: 100%;
//       height: 62vh;
//     } // End Tablet & Below
//
//     // Secondary Mobile - Phone & Below
//     @media screen and (max-width: $phone) {
//       height: 47vh;
//     } // End Phone & Below
//
//      &:before {
//       display: block;
//       content: "";
//       width: 100%;
//       padding-top: 115%;
//     }
//   } // End &-potrait
// } // End About
