.contact {

  h3 {
    color: $callout;
    margin-bottom: $half-space;
    font-family: $font-bold;
  }

  &-form-card {
    @include wrap($wrap, 56em);
    background-color: $background;
    // padding: 5em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      padding: 3.75em 8%;
    } // End Phone & Below

    h1 {
      font-size: 2.5em;
      margin-bottom: 0.35em;
      font-family: $font;
    }



    p {
      margin-bottom: 4rem;
      font-family: $font-light;
    }
  }
}
