.contact {

  h3 {
    color: $callout;
    margin-bottom: $half-space;
    font-family: $font-bold;
  }

  &-form-card {
    padding: 1.5em;
    background-color: $background;

    h1 {
      font-size: 2.5em;
      margin-bottom: 0.35em;
      font-family: $font;
    }

    p {
      margin-bottom: 4rem;
      font-family: $font-light;
    }
  }
}
