.contact {
  background-image: url("./assets/images/laptop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  h2, h4 {
    color: $background;
  }
}

.contact-form-card {
  @include wrap($wrap, 44em);
  background-color: $foreground;
  padding: 3.5em 5em;
  text-align: left;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    padding: 2em 2em;
  } // End Phone & Below
}
