.projects-archive {
  background-color: $background-alt;

  td.year {
    color: rgba($background, 0.55);
    font-family: $font-medium;
  }

  td.title {
    font-family: $font;
    font-size: 1.7em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      font-size: 1.3em;
      padding-left: 0;
    } // End Phone & Below
  }

  td.agency {
    @include h5;

    a {
      @include animate;
      color: rgba($background, 0.75);

      &:hover {
        color: $callout;
      }
    }
  }

  td.tech {
    @include h5;
    color: rgba($background, 0.75);
  }

  td.links {
    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      padding-right: 0;
    } // End Phone & Below

    div {
      display: flex;
    }

      a {
        padding-left: 0.35em;

        &:hover {
          svg {
            transform: translateY(-0.188em);
            &, use {
              fill: $callout;
            }
          }
        }
      }

      svg {
        @include animate;
        height: 1.25em;
        width: 1.25em;

        &, use {
          fill: $background;
        }
      }
    } // End &-links
}

.hide-on-mobile {
  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    display: none;
  } // End Phone & Below
}

.first-on-mobile {
  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    padding-left: 0;
  } // End Phone & Below
}

.last-on-mobile {
  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    padding-right: 0;
  } // End Phone & Below
}
