.resume-cta {
  @include flexible($justify: flex-start);
  color: $foreground;
  font-family: $font-medium;
  position: relative;

  svg {
    @include animate;

    &, use {
      fill: $foreground;
      height: 1.45rem;
      width: 1.45rem;
    }
  } // End svg

  &:hover {
    color: $callout;

    svg {
      transform: translateX(0.3em);

      &, use {
        fill: $callout;
      }
    }
  } // End &:hover
}
