.resume-cta {
  @include flexible($justify: flex-start);
  color: $foreground;
  font-family: $font-medium;
  position: relative;
  font-size: 1.65em;

  svg {
    @include animate;

    &, use {
      fill: $foreground;
      height: 1.65rem;
      width: 1.65rem;
    }
  } // End svg

  &:hover {
    color: $callout;

    svg {
      transform: translateX(0.3em);

      &, use {
        fill: $callout;
      }
    }
  } // End &:hover
} // End .resume-cta
