.content {
  ul {
    column-count: 2;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      margin-right: 0;
      margin-bottom: $space;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
     @media screen and (max-width: $phone) {
        column-count: 1;
        margin-right: 0;
        margin-bottom: $space;
     } // End Phone & Below

    li {
      font-size: 1.65rem;
      letter-spacing: 0.21em;
      font-family: $title;
      color: $foreground;
      margin-bottom: 1.2rem;
    } // End li
  } // End ul

  p {
    margin-bottom: $half-space;

    &:last-of-type {
      margin-bottom: 0;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        margin-bottom: 3rem;
      } // End Tablet & Below
    }
  } // End p

//   img {} // End img
//
//   figure {}  // End figure
//
//   figcaption {} // End figcaption
//
//   // Headings
//   h2, h3, h4,  {} // End Headings
// }

} // End .content
