.content {
  ul {
    display: inline-block;
    column-count: 3;

    // Secondary Mobile - Phone & Below
     @media screen and (max-width: $phone) {
        column-count: 2;
     } // End Phone & Below

    li {
      @include h5;
      position: relative;
      font-size: 0.9rem;
      color: $callout;
      margin: 0 0 0.65rem 1.1em;

      &:before {
        top: -0.2em;
        content: "";
        width: 1.2em;
        height: 1em;
        position: absolute;
        left: -1.5em;
        background-image: url(assets/images/chevron-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  } // End ul

  p {
    margin-bottom: $half-space;
    font-size: 1.1em;
  } // End p

  img {

  } // End img

  figure {

  }  // End figure

  figcaption {

  } // End figcaption

  // Headings
  h2, h3, h4,  {

  } //End Headings
}
