footer {
  @include section;

  .footer-logo {
    display: inline-block;

    svg {
      position: relative;

      &, use {
        fill: $foreground;
        width: 5em;
        height: 1em;
      }
    }
  } // End .logo

  .wrap {
    display: grid;
    grid-gap: $half-space;
    grid-template-rows: repeat(5, 1fr);

    .footer-link {
      @include animate;
      color: $foreground;
      font-size: 1.65em;
      font-family: $font-medium;



      &:hover {
        color: $callout;
        transform: translateX(0.15rem);
      }
    }
  }

  .footer-socials {
    display: flex;
    transform: translateX(-0.6em);
    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {

    } // End Phone & Below

    &-link {
      padding: 0.625em;
      transition: $transition;

      svg {
        @include animate;
        height: 1.25em;
        width: 1.25em;

        &, use {
          fill: $foreground;
        }
      }

      &:hover {
        svg {
          transform: translateY(-0.188em);
          &, use {
            fill: $callout;
          }
        }
      }
    } // End &-link
  } // End .footer-socials
}

// footer {
//   // @include section;
//   // background-color: $background;
//
//   img {
//     width: 15em;
//     margin-bottom: $space;
//
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       width: 16em;
//     } // End Tablet & Below
//   } // End img
//
//   .footer-flex {
//     display: flex;
//     justify-content: space-between;
//
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       flex-direction: column;
//     } // End Tablet & Below
//   } // End .footer-flex
//
//   p {
//     font-family: $font-light;
//     margin-bottom: $half-space;
//     max-width: 15rem;
//     color: $foreground;
//     padding: $half-space;
//     // font-size: em;
//
//     &:first-of-type {
//       padding-left: 0;
//     }
//
//     &:last-of-type {
//       padding-right: 0;
//     }
//
//     // Primary Mobile - Tablet & Below
//     @media screen and (max-width: $tablet) {
//       max-width: 100%;
//       padding: 0;
//     } // End Tablet & Below
//   } // End p
// }
