input,
textarea {
  background-color: $foreground;
  border-bottom: 1px solid $foreground;
  padding: 0.65em;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 1.5rem;
  color: $foreground;
  font-family: $font;
  border-radius: 0;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  height: 8em;
}

input[type=text] {
  -webkit-appearance: none;
}

input[type=submit] {
  @include cta;
  border: none;
  -webkit-appearance: none;
  padding: 1em;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    width: 100%;
  } // End Phone & Below
}

// Change Autocomplete styles in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid $foreground;
  -webkit-text-fill-color: $foreground;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  font-family: $font;
  color: $foreground;
}

// Gravity Forms
.gform_wrapper {
  text-align: left;
}

.gfield_required {
  display: none;
}

.ginput_complex {
  display: flex;
  justify-content: space-between;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    display: block;
  } // End Phone & Below
}

.ginput_container {
  margin-bottom: $space;
}

.name_first label,
.name_last label {
  display: none;
}

.name_first input {
  margin-right: $space;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    margin-bottom: $space;
  } // End Phone & Below
}

.gfield_label {
  font-family: $font-bold;
  text-transform: uppercase;
  font-size: 0.65em;
  letter-spacing: 0.26em;
  color: $foreground;
}

.gfield_label label {
  margin-bottom: $space;
}

.gform_footer {
  display: inline-block;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    display: block;
  } // End Phone & Below
}
