html, body {
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $background;
}

// body {}

@mixin section {
  padding: 6em 0;
  display: inline-block;
  position: relative;
  clear: both;
  float: none;
  width: 100%;

  // Secondary Mobile - Phone & Below
   @media screen and (max-width: $phone) {
      // padding: 3em 0;
   } // End Phone & Below
}

section {
  @include section;
}

@mixin p {
  font-family: $font;
  color: $background;
  line-height: 140%;
  margin-bottom: $space;
  font-size: 1.25em;
}

p {
  @include p;

  a {
    @include animate;
    color: $foreground;
    text-decoration: underline;

    &:hover {
      color: $callout;
    }
  }
}
