html, body {

}

html {

}

body {

}

@mixin section {
  padding: 6em 0;
}

section {
  @include section;
}

@mixin p {
  font-family: $font-light;
  color: $foreground;
  line-height: 160%;
  margin-bottom: $space;
}

p {
  @include p;

  a {
    @include animate;
    color: $foreground;

    &:hover {
      color: $callout;
    }
  }
}

strong {

  em {

  }
}

em {

  strong {

  }
}
