.header {
  padding: 3em 0;

  .wrap {
    @include flexible($justify: space-between);
  }

  .wordmark{
    display: inline-block;

    img {
      width: 15vw;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        width: 30vw;
      } // End Tablet & Below

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        width: 50vw;
      } // End Phone & Below
    }
  } // End .wordmark
}
