// h1
@mixin h1 {
  font-family: $title;
  font-size: 6em;
  color: $foreground;
  letter-spacing: -0.02EM;
  line-height: 0;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    font-size: 5em;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    font-size: 2.5em;
  } // End Phone & Below
}

// h2
@mixin h2 {
  color: $foreground;
  font-family: $font;
  font-size: 2.4em;
  margin-bottom: $space;
}

// h4
@mixin h4 {
  color: $foreground;
  margin-bottom: $space;
  text-transform: uppercase;
  font-size: 0.83em;
  letter-spacing: 0.26em;
  line-height: 1.4;
  font-family: $font-bold;
}

// h5
@mixin h5 {
  font-family: $font-medium;
  font-size: 1.1rem;
  letter-spacing: .05em;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h4;
  position: relative;
  display: inline-block;
  margin-bottom: $space;

  // Secondary Mobile - Phone & Below
   @media screen and (max-width: $phone) {
      margin-bottom: 3em;
   } // End Phone & Below
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h2;
}
