@mixin h1 {
  font-family: $font;
  font-size: 6em;
  color: $foreground;
  margin-bottom: 1rem;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    font-size: 4em;
  } // End Phone & Below
}

h1 {
  @include h1;
}

@mixin h2 {

}

h2 {
  @include h2;
}

@mixin h3 {

}

h3 {
  @include h3;
}

@mixin h4 {

}

h4 {
  @include h4;
}

@mixin h5 {
  font-family: $font-medium;
  font-size: 1.1rem;
  letter-spacing: .05em;
}

h5 {
  @include h5;
}

@mixin h6 {

}

h6 {
  @include h6;
}
