header {
  padding: 3em 0;

  .wrap {
    @include flexible($justify: space-between);
  }

  .logo {
    display: inline-block;

    svg {
      position: relative;
      z-index: 2;

      &, use {
        fill: $foreground;
        width: 5em;
        height: 1em;
      }
    }
  } // End .logo
}
