table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;

  &, thead, tr, th, td {
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
    color: $foreground;
    line-height: 135%;
  }

  tr {
    display: table-row;

    th, td {
      padding: 0.75em;

      &:last-child {
        text-align: right;
      }
    }

    th {
      @include h5;
      color: rgba($foreground, 0.4);
    }

    td {
      color: $foreground;
      border-bottom: solid 1px rgba($background-alt, 0.35);
    }
  }
}
